#corpo{
    background-color: black;
    color: white;
    
}
h1{text-align: center;}
#pe{
    background-color: orange;
position:  ;}
#menu:hover {
   
    
    
    
}
#menu { width: 10%;
padding-bottom: 10%;
}

